.featured-item {
    position: relative;
}

.featured-item::before {
    content: '';
    background-image: url(../../../assets/banner/featured.jpg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    filter: brightness(0.4);
}